.App {
  text-align: center;
}

 

.App-header {
  background-color:#001e6a;
  height: 200px;
  color: white;
  font-size: large;
}
.background{
  position: absolute;
     background-image: url('background.jpg');
        background-size: 600px 400px;
        background-repeat: no-repeat;
}

.App-intro {
  font-size: large;
}

footer{
  margin-top: 600px;
  background-color: dodgerblue;
  height: 70px;
  padding: 20px;
  color: white;
}
a{
  color: white;
}
#titlename{
color: white;
font-size: xx-large;
padding-top: 20px;

}
#headerImage{
  height: 130px;
  width: 350px;
   
}
#studentlink{
  color: blue;

}